:root {
  --transition: all 250ms linear;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(./background-img/hw_7.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    max-width: 1366px;
    margin: auto;
    min-height: 100vh;
}

/* ~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~ */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 80px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar>li {
    margin-right: 27px;
}

.navbar a {
    text-align: center;
}

.separator {
    color: #FFFFFF;
}

.logo p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}

.header-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.header-text-section {
    display: flex;
    align-items: center;
    position: relative;
}

.header-text-section li {
    padding-right: 7px;
}

.header-text-section a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

/* ~~~~~~~~~~~~~~~~ Hover ~~~~~~~~~~~~~~~~~~~ */

.logo p:hover {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #3CB878;
    transition: var(--transition);
}

.navbar li img:hover {
    filter: invert(57%) sepia(67%) saturate(407%) hue-rotate(96deg) brightness(94%) contrast(84%);
    transition: var(--transition);
}

.separator:hover {
    opacity: 0.1;
    transition: var(--transition);
}

.header-text-section a:hover {
    color: #3CB878;
    transition: var(--transition);
}

/* ~~~~~~~~~~~~~~~~ Form ~~~~~~~~~~~~~~~~~~~ */

.form {
    width: 444px;
    height: 584px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}

.form-wrapper {
    width: 322px;
    margin: 0 auto;
}

.green-square {
    width: 18px;
    height: 18px;
    background: #3CB878;
    /* margin-left: auto; */
    position: absolute;
    top: 32px;
}

.signup-login-layout {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    align-items: center;
}

.signup a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #434343;
}

.login a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
}

.login a:hover {
    color: #01813F;
}

.fb-google-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.fb-google-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #305DB8;
    width: 158px;
    height: 48px;
    margin: 15px 0;
    border-radius: 5px;
}

.fb-google-text p {
    display: flex;
    align-items: center;
}

.facebook {
    padding-right: 5px;
}

.fb-google-text:hover {
    background: #022263;
    transition: var(--transition);
}

.red {
    background-color: #DF4A32;
}

.red:hover {
    background: #AB1F09;
    transition: var(--transition);
}

.slash::after {
    content: url(./other-img/Rectangle\ 2.png);
    margin-left: 7px;
    color: #0A162F;
}

.ubuntu-small {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #848484;
    text-align: center;
}

.ubuntu-small::before {
    border-top: 1px solid #F2F2F2;
    display: inline-block;
    position: relative;
    top: -3px;
    width: 45%;
    content: "";
    margin-right: 7px;
}

.ubuntu-small::after {
    border-top: 1px solid #F2F2F2;
    display: inline-block;
    position: relative;
    top: -3px;
    width: 45%;
    content: "";
    margin-left: 7px;
}

/* ~~~~~~~~~~~~~~~~~~~ Inputs and Placeholders ~~~~~~~~~~~~~~~ */

.name-input {
    width: 322px;
    height: 44.08px;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.name-input::placeholder {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #BEBEBE;
}

.name-input:focus-within {
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition: var(--transition);
}

.name-input:focus-within::placeholder {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #434343;
    transition: var(--transition);
}

/* ~~~~~~~~~~~~~~~~~~~~~ Terms & Conditions ~~~~~~~~~~~~~~~~~~~ */

.agree {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #434343;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Terms & Conditions HOVER EFFECT ~~~~~~~~~~~~~~~~~~~ */

.terms {
    display: inline-block;
    position: relative;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
    margin-left: 5px;
}

.terms::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #3CB878;
    transition: width 200ms linear;
}

.terms:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.terms-conditions-check label {
    display: flex;
    align-items: center;
}

.terms:hover::before {
    width: 100%;
    left: 0;
    right: auto;
    background-color: #01813F;
}

/* ~~~~~~~~~~~~~~~~~~~~~ CheckBox Green Arrow ~~~~~~~~~~~~~~~~~~~ */

.check-color {
    display: none;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    flex-shrink: 0;
}

.custom-checkbox::after {
    content: url(./other-img/green-arrow.png);
    opacity: 0;
    cursor: pointer;
    transition: var(--transition);
}

.check-color:checked+.custom-checkbox:after {
    opacity: 1;
}

.create-account-button {
    display: block;
    width: 322px;
    height: 44px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 12px 0 0 0;
    padding: 12px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.8);
    text-align: center;
}

.create-account-button:hover {
    background: #01813F;
    transition: var(--transition);
}